<div class="small-10 columns panel">
    <h3>Add A New Crew Member</h3>

    <form ng-submit="addPerson()">
        <input type="text" ng-model="personName" placeholder="Enter Name Here">

        <input type="text" ng-model="personDescription" placeholder="Enter Position Here">

        <input type="text" ng-model="personService" placeholder="Enter Service Status Here">

        <input type="submit" class="button" value="Add">
    </form>

</div>