<div class="small-10 columns panel">
    <h3>Editing Person Info.</h3>
    <form>
        <input type="text"  ng-model="personName" placeholder="Enter Name Here">

        <input type="text" ng-model="personDescription" placeholder="Enter Position Here">

        <input type="text" ng-model="personDervice" placeholder="Enter Service Status Here">

        <button class="button" ng-click="save()">Add</button>
    </form>
</div>