<div class="small-10 columns">
    <table>
        <thead>
        <tr>
            <td width="300">Name</td>
            <td width="300">Description</td>
            <td width="300">Service</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in crew">
            <td>{{person.name}}</td>
            <td>{{person.description}}</td>
            <td>{{person.service}}</td>
        </tr>
        </tbody>
    </table>
</div>